dist-newstyle/*
.vscode/*
./modelCore-output.hs
./stdCore-output.hs
.git/*
.hie/*

ghcTestCases/*.dump-simpl
ghcTestCases/*.hi
ghcTestCases/*.o
ask2elle.eventlog
ask2elle.eventlog.html
ask2elle.hp
ask2elle.prof
cabal.project.local